# .gitignore                                                       -*- conf -*-

# Editor backup files
*~

# Compiled Haskell
*.hi
*.o
*.s
*.out
*.o
dist/

# Generated haskell source
src/Parser.hs
src/Scanner.hs

# Decaf output files
*.scan
